body{
    animation-name: clock-animation;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    width: 100px;
    height: 100px;
    align-items: center;
    background-color: red;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@keyframes clock-animation{
    /* 0%{
        background: purple;

    }
    50%{

        background: blue;
    } */
    100%{
        background: yellow;
    }
}
#clock{
    border-radius: 50%;
    background-color: blanchedalmond;
    width: 500px;
    height: 500px;
    border: 6px solid #0000;
    position: relative;

}
.clock ::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: red;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.clock-number{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.clock-number::after {
    content: "";
    position: absolute;
    height: 13px;
    width: 5px;
    top: 13px;
    background: #0000;
}
.clock-number> div{
    padding: 12px;
}
.num1{
    transform: rotate(30deg);
}
.num1> div{
    transform: rotate(-30deg);
}
.num2{
    transform: rotate(60deg);
}
.num2> div{
    transform: rotate(-60deg);
}
.num3{
    transform: rotate(90deg);
}
.num3> div{
    transform: rotate(-90deg);
}
.num4{
    transform: rotate(120deg);
}
.num4> div{
    transform: rotate(-120deg);
}
.num5{
    transform: rotate(150deg);
}
.num5> div{
    transform: rotate(-150deg);
}
.num6{
    transform: rotate(180deg);
}
.num6> div{
    transform: rotate(-180deg);
}
.num7{
    transform: rotate(210deg);
}
.num7> div{
    transform: rotate(-210deg);
}
.num8{
    transform: rotate(240deg);
}
.num8> div{
    transform: rotate(-240deg);
}
.num9{
    transform: rotate(270deg);
}
.num9> div{
    transform: rotate(-270deg);
}
.num10{
    transform: rotate(300deg);
}
.num10> div{
    transform: rotate(-300deg);
}
.num11{
    transform: rotate(330deg);
}
.num11> div{
    transform: rotate(-330deg);
}
.num12{
    transform: rotate(360deg);
}
.num12> div{
    transform: rotate(360deg);
}
.clock-hand{
    width: 100%;
    height: 100%;
    position: absolute;
}
.clock-hand> div{
    left: 50%;
    bottom: 50%;
    transform: translate(-50%);
    position: absolute;
    border-radius: 12px;
}
.second-hand{
    height: 35%;
    width: 1px;
    background: rgb(214, 15, 15);

}
.minute-hand{
    height: 27%;
    width: 3px;
    background: rgb(22, 22, 22);
            
}

.hour-hand{
    height: 20%;
    width: 5px;
    background: green;
}
.second-hand::after{
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 4px;
    border-color: transparent transparent black transparent;
    left: 50%;
    transform:  translate(-50%);
    top: -6%;
}
