.calculator{
    height: 500px;
    max-width: 500px;
    margin: 10px auto 0 auto;
    background-color: grey;
}
.display-box{
height: 50px;
line-height: 70px;
padding: 20px 0px;
font-size: 50px;
background: linear-gradient(90deg, #2100ff 60%, #fff 100%);
}
.display-box> input{
    color: #000000;
    font-size: 50px;
}
.textbox {
    border: 0px;
    outline: 0px;
    height: 50px;
    width: 400pxpx;
    padding: 0 110px;
    text-align: center;
    font-size: 20px;
} 
.calbuttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.calbuttons > input {
    padding: 20px;
    color: #2100ff;
    font-size: 30px;

}
.input[type="button"], input[text="text"]{
    padding: 9px 23px;
    width: 200px;
} .button{
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
.button:hover{
    background-color: #30be14;
    color:white ;
    transition: 0.5s ease-in-out;
}  
