.container{
    height: 500px;
    max-width: 500px;
    margin: 10px auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(red, green, blue, alpha);
}
#display{
height: 50px;
line-height: 70px;
padding: 20px 0px;
font-size: 50px;
background: linear-gradient(90deg, #2100ff 60%, #fff 100%);
}
#dispplay> input{
    color: #fff;
    font-size: 50px;
}
.textbox{
    background: transparent url(Custom\ Hip\ Hop\ Jewelry\ _\ Iced\ Chains\ _\ Gold\ Presidents\ \(1\).jpg) repeat-x;
    border: 0px solid #999;
    outline: 0;
    height: 50px;
    width: 275px;
    padding: 0 110px;
    text-align: right;
    font-size: 30px;
}
.calbuttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.calbuttons > input {
    padding: 20px;
    color: #0000;
    font-size: 20px;

}
input[type="button"], input[text="text"]{
    padding: 9px 23px;
    width: 200px;
}
.button{
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;

}
.button:hover{
    background-color: #f4dd84;
    color:white ;
    transition: 0.5s ease-in-out;
}